.social {
    transition: all 0.35s ease;
    &:hover {
        transform: translateY(-4px) scale(1.1);
    }
}
.header {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    transition: transform 0.3s ease;
}

.hide {
    transform: translateY(-85%);
}
.header:hover {
    transform: translateY(0);
}

@media (max-width: 992px) {
    .hide {
        transform: translateY(-100%);
    }
}
